[toolchain]
anchor_version = "0.30.1"

[features]
seeds = false
skip-lint = false

[programs.localnet]
moltrank = "41rM5dUSCMNSF3GyrXUH7Ykrr7d2suTxs8G2XP9ajD71"

[programs.devnet]
moltrank = "41rM5dUSCMNSF3GyrXUH7Ykrr7d2suTxs8G2XP9ajD71"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
